$fuente_principal: "Montserrat", sans-serif;

$negro: #000000;
$blanco: #ffffff;
$principal: #0368d9;
$secundario: #162b75;
$gris-claro: #f5f5f5;
$claro: #dfdfe2;

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
