@use "base/variables" as v;
@use "base/mixins" as m;

.output {
  margin-bottom: 5rem;
  @include m.tablet {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    .chart-wrapper {
      grid-column: 2;
    }
    #resultados {
      grid-column: 1; // Colocar en la primera columna
      grid-row: 1; // Primera fila
    }

    .objetivos {
      grid-column: 1; // Colocar en la primera columna
      grid-row: 2; // Segunda fila
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 3rem;
    }
  }
  .res {
    border-radius: 2rem;
    border: 2px solid v.$claro;
    padding: 1rem;
    p {
      font-size: 1.8rem;
    }
    span {
      font-weight: bold;
    }
  }
}

.resultados {
  border: 2px solid v.$claro;
  border-radius: 2rem;
}
.content-table {
  border-collapse: collapse;
  font-size: 2rem;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  span {
    font-weight: bold;
    font-size: 2rem;
  }
  thead {
    tr {
      background-color: v.$principal;
      color: v.$blanco;
      font-size: 1.8rem;
      text-align: left;
      font-weight: bold;
    }
  }

  th,
  td {
    padding: 1.2rem 1.5rem;
  }

  tbody {
    tr {
      //border: 2px solid v.$claro;

      &:last-of-type {
        border: none;
      }
      &:nth-of-type(even) {
        background-color: #f3f3f3;
      }
    }
  }
}

.chart-wrapper {
  p {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }
  canvas {
    display: flex;
    justify-content: center;
  }
  border-radius: 2rem;
  border: 2px solid v.$claro;
  padding: 1rem;
}

// Barras de progreso

.loading-container {
  width: 100%; /* Cambiado para ajustar el ancho y alinear el texto */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineación a la izquierda */
  margin-bottom: 3rem;
  span {
    font-weight: bold;
  }
}

.loading-text {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: left; /* Alineación del texto a la izquierda */
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
  align-items: center;
}

.loading .line-box {
  padding: 0.2rem;
  width: 100%;
  height: 2.7rem;
  border: 0.2rem solid v.$claro;
  border-radius: 2rem;
}

.loading .line-box .line-1 {
  height: 2rem;
  border-radius: 2rem;
  background: v.$principal;
  animation: loading 4s forwards cubic-bezier(0, 0, 0, 0);
}

.loading .line-box .line-2 {
  height: 2rem;
  border-radius: 2rem;
  background: v.$secundario;
  animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
